@using MVCNetCoreSession.Helpers
@{
	Mascota mascota = Context.Session.GetObject<Mascota>("MASCOTAOBJECT");
}

@if(mascota != null){
	<h1>Funciona mascota? @mascota.Nombre</h1>
}
<h1> Session Ejemplo</h1>

<h2>@Context.Session.GetString("nombre")</h2>

<h2>@Context.Session.GetString("hora")</h2>


<ul class="list-group">
	<li class="list-group-item">
		<a asp-controller="EjemploSession" asp-action="SessionSimple">Sesion simple</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession" asp-action="SessionMascota">Sesion mascota</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession" asp-action="SessionCollection">Sesion coleccion</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession" asp-action="SessionMascotaJson">Sesion mascota json</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession" asp-action="SessionMascotaCollection">Sesion mascota collection</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="EjemploSession" asp-action="SessionMascotaCollection">Sesion mascota collection</a>
	</li>
</ul>