<h1>Session simple</h1>


<p>
	<a asp-controller="EjemploSession" asp-action="SessionSimple" asp-route-accion="almacenar">Almacenar Session</a>
</p>

<p>
	<a asp-controller="EjemploSession" asp-action="SessionSimple" asp-route-accion="mostrar">Mostrar Session</a>

</p>

<h3>@ViewData["MENSAJE"]

<h2>@ViewData["USUARIO"]
</h2>
<h2>
	@ViewData["HORA"]
</h2>
