<a asp-controller="EjemploSession" asp-action="SessionMascota" asp-route-accion="mostrar">Mostrar</a>
<a asp-controller="EjemploSession" asp-action="SessionMascota" asp-route-accion="almacenar">Almacenar</a>

<h3>@ViewData["MENSAJE"]<h3>